* {
    font-family: 'Poppins';
    transition: all ease 0.2s o !important;
}

body {
    height: 2000px;
    background: linear-gradient(135deg, #F7F1E5, #E7B10A, #898121, #4C4B16);
}

.custContainer {
    height: 100vh;
    display: flex;
    align-items: center;
}

.login,
.register,
.create,
.edit {
    /* color: #fff; */
    width: 499px;
    height: fit-content;
    background: rgba(0, 0, 0, 0.15);
    padding: 45px;
    border-radius: 7px;
    box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.5);
}

.create,
.edit {
    width: 699px;
}

/* TODO: Make footer style and add the element for each page */


.brandName {
    color: #898121;
}
