* {
    font-family: 'Poppins';
    transition: all ease 0.2s o !important;
}

body {
    height: 2000px;
    background: linear-gradient(135deg, #30A2FF, #00C4FF, #FFE7A0, #FFF5B8) ;
}

.custContainer {
    height: 100vh;
    display: flex;
    align-items: center;
}

.login, .register, .create, .edit {
    width: 499px;
    height: fit-content;
    background: linear-gradient(135deg, #F6F1F1, #AFD3E2) ;
    padding: 45px;
    border-radius: 7px;
    box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.5);
}

.create, .edit {
    width: 699px;
}

/* TODO: Make footer style and add the element for each page */
.footer {

}

.brandName { 
    color: #00C4FF;
}